body{
	margin: 0;
	overflow-x: hidden;
}

.landing{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.landing img{
	width: 100%;
}

.profile{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
/*	border: 2px black solid;*/
	padding: 10px;
	color: white;
}

.profile img{
	width: inherit;
}

.profile header{
	font-family: Helvetica;
	font-size: 2em;
	font-weight: bold;
}

.profile p{
	font-family: Helvetica;
	font-size: 1em;
/*	margin: 10px;*/
}