body{
	margin: 0;
	overflow-x: hidden;
}

.landing, .about{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
}

.landing img{
	width: 100%;
}

.profile{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
/*	border: 2px black solid;*/
	padding: 10px;
	color: white;
}

.profile img{
	width: inherit;
}

.profile header{
	font-family: Helvetica;
	font-size: 2em;
	font-weight: bold;
}

.profile p{
	font-family: Helvetica;
	font-size: 1em;
/*	margin: 10px;*/
}





.big{
	width: 60%;
}

.org-name{
	width: 35%;
}

.org-desc{
	width: 50%;
}

.org-name, .org-desc{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 	
	margin: 0 13px 0 13px;
	float: left;

}

.org-box{
	border: 1px solid black;
	padding: 7px 7px 7px 7px;
	height: 100px;
}